#flash {
  div {
      margin: 6px 0 20px 0;
      padding: 12px 0;
      font-size: 105%;
      font-weight: bold;
      text-indent: 54px;

      /* use notice style by default */
      border-top: 1px solid #979797;
      border-bottom: 1px solid #979797;
      background: #e7e7e7 image-url("ui/notice.png") no-repeat 28px;
  }

  .success {
      color: #1e7a1b;
      border-color: #4bb426;
      background: #b7e1af image-url("ui/success.png") no-repeat 28px;
  }
  .failure {
      color: #c01100;
      border-color: #ca4f35;
      background: #ffbdbd image-url("ui/failure.png") no-repeat 28px;
  }
  .warning {
      color: #c67109;
      border-color: #c67109;
      background: #f8e694 image-url("ui/warning.png") no-repeat 28px;
  }
}
