form {
    margin: 12px;

    /* #content p define left/right margins */
    p, div.input { margin: 7px 0 !important; }

    /* TODO textarea and toolbar widths doesn't match existly */
    .textile-toolbar, textarea.textile, .textile textarea {
        width: 100%;
    }

    .textile_toolbar {
        background: #ece9d8;
        padding: 3px;

        small {
            /* hide "Textile enabled" */
            display: none;
        }
        img {
            border: 1px solid #fff;
        }
    }

    ul li {
        padding: 0 !important;
        margin-left: 0 !important;
    }

    .textile_editor_help {
        padding: 4px 0 10px 10px;
        font-size: 0.9em;
        font-style: italic;
    }

    input, textarea {
        border: 1px solid #cccccc;
        padding: 4px;
    }

    /* add some space for "special" inputs */
    input[type=submit] {
        margin-top: 12px;
    }
    input[type=checkbox] {
        margin-top: 8px;
    }

    input.openid {
        padding-left: 24px;
        background: image-url("ui/openid.png") no-repeat 4px;
        width: 20em;
    }

    .field_with_errors {
        display: inline;
        input {
            border: 1px solid #ca4f35;
            background: #ffbdbd;
        }
        select {
            color: #ca4f35;
        }
    }

    label:after {
        content: " :";
    }
    input[type=checkbox] + label:after {
        content: none;
    }

}

form.simple_form {
    div.input {
        display: block;
        label {
            display: block;
        }
        span.error {
            margin-left: 5px;
        }
    }
}
