<p>Bienvenue <%= @resource.email %></p>

<p>Vous pouvez confirmer votre adresse email en suivant le lien ci-dessous :</p>

<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
