<p>Bonjour <%= @resource.email %>,</p>

<p>Un rappel de mode de passe a été effectué, si vous êtes bien à l'origine, cliquez sur le lien ci-dessous :</p>

<p><%= link_to 'Indiquer un nouveau mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si vous n'êtes à l'origine de cette demande, ignorez simplement ce message.</p>
<p>Votre mot de passe ne sera modifié que si vous accéder au lien si dessus.</p>
